@use '../colors';

.wrapper {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  // background-color: brown;
}

.input {
  width: 120px;
  max-height: 56px;
  border: none;
  font-size: 1.5rem;
  background-color: brown;

  &:focus {
    outline: none;
  }
}
