.result {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
  padding-top: 10%;
  font-size: 2rem;
}

.values {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 40%;
  padding-top: 5%;
}
